.status {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p {
  font-size: 30px;
}
// .spinner-container {
//   animation: rotation 4s ease-in infinite;
// }
@keyframes rotation {
  0% {
    transform: rotate(20%);
  }
  25% {
    transform: rotate(90%);
  }
  50% {
    transform: rotate(180%);
  }
  75% {
    transform: rotate(270%);
  }
  100% {
    transform: rotate(360%);
  }
}
